{
  "client": {
    "token": {
      "hmac_secret_key": "8c9...e8"
    },
    "allowed_origins": [
      "https://delivery.cloud-workflow.com"
    ]
  },
  "channel": {
    "without_namespace": {
      "allow_subscribe_for_client": true
    }
  },
  "admin": {
    "enabled": true,
    "password": "5a3e...3b5",
    "secret": "c4...d90"
  },
  "http_api": {
    "key": "f2b...72"
  }
}